<section id="details" class="property-details-area-two">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="video-image">
                    <img src="assets/img/video-bg.png" alt="image">

                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 p-0">
                <div class="property-details-info">
                    <div class="property-details">
                        <h3>Property Details</h3>

                        <ul>
                            <li>Listing Type: <span>Single Family Cabin</span></li>
                            <li>Bedrooms: <span>2</span></li>
                            <li>Bathrooms: <span>3</span></li>
                            <li>House Size: <span>7,965 sqft</span></li>
                            <li>Lot Size: <span>8,276.00 sqft</span></li>
                            <li>Extras: <span>Loft w/ 2 Twin Beds</span></li>
                            <li>Year Built: <span>2019</span></li>
                        </ul>
                    </div>

                    <div class="additional-details">
                        <h3>Additional Details</h3>
                        
                        <ul>
                            <li>Fuel: <span>Electric, Gas</span></li>
                            <li>Construction Type: <span>Brick, Frame</span></li>
                            <li>Fireplace Location: <span>Bedrooom</span></li>
                            <li>Roof: <span>Composition Shingles</span></li>
                            <li>Fireplace: <span>Wood</span></li>
                            <li>Lot Size: <span>8,276.00 sqft</span></li>
                            <li>Interitor Features: <span>Kitchen</span></li>
                            <li>Road Surface: <span>Paven Road</span></li>
                            <li>Sale Rent: <span>For Sale</span></li>
                            <li>Seller: <span>Individual</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>