<section id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" alt="about-image">
                    <img src="assets/img/layer.png" class="back-img1" alt="layer">
                    <img src="assets/img/layer.png" class="back-img2" alt="layer">
                    <img src="assets/img/circle-img.jpg" class="circle-img shadow-sm" alt="circle-image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <h3>All about of this property</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                    <div class="about-inner">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="far fa-building"></i>
                                    </div>
                                    <h4>Built in 1976</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-bed"></i>
                                    </div>
                                    <h4>6 Beds</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-bath"></i>
                                    </div>
                                    <h4>5 Baths</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-umbrella-beach"></i>
                                    </div>
                                    <h4>2 Pools</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-car"></i>
                                    </div>
                                    <h4>3 Parking</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-building"></i>
                                    </div>
                                    <h4>2 Floors</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fas fa-hotel"></i>
                                    </div>
                                    <h4>2475 Sqft</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i class="fab fa-accessible-icon"></i>
                                    </div>
                                    <h4>Lot 0.5 Acres</h4>
                                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>