<div class="main-banner video-banner">
    <video loop muted autoplay poster="#" class="video-background">
        <source src="assets/video/Home.mp4" type="video/mp4">
    </video>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <h1>South Grafield Street for sale <span>$6,575,000</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#" class="default-btn">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-about></app-about>

<app-property-details-two></app-property-details-two>

<app-gallery></app-gallery>

<app-agent></app-agent>

<app-feedback></app-feedback>

<app-services></app-services>

<app-maps></app-maps>

<app-contact></app-contact>