<section class="home-area">
    <div class="swiper-container home-slides">
        <div class="swiper-wrapper">
            <div class="swiper-slide main-banner item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="main-banner-text">
                            <h1>Bear Rock Lodge, Lodges at Eagles Nest, Banner Elk, NC <span>from $250/per night</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <a href="#" class="default-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide main-banner item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="main-banner-text">
                            <h1>Bear Rock Lodge, Lodges at Eagles Nest, Banner Elk, NC <span>from $250/per night</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <a href="#" class="default-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide main-banner item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="main-banner-text">
                            <h1>Bear Rock Lodge, Lodges at Eagles Nest, Banner Elk, NC <span>from $250/per night</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <a href="#" class="default-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>

<app-about></app-about>

<app-property-details></app-property-details>

<app-floor-plans></app-floor-plans>

<app-gallery></app-gallery>

<app-agent></app-agent>

<app-feedback></app-feedback>

<app-services></app-services>

<app-maps></app-maps>

<app-contact></app-contact>